$desktop-layout-width: 1160px !default;
$desktop-grid-gutter: 40px !default;

$mobile-layout-width: 900px !default;
$mobile-grid-gutter: 10px !default;

$desktop-footer-height: 60px !default;
$mobile-footer-height: 180px !default;
