.sectiontitle.purple.tk-bely-display.atrtitle {
    grid-column: 1/span 5;
}
.points.grid12 {
    grid-row: 2;
    grid-column: span 12;
}
.point {
    grid-column: span 4;
    width: 80%;
    text-align: center;
}
.pointimg {
    aspect-ratio: 250/250;
    width: 100%;
    background-position: center;
    background-size: cover;
    transition-duration: 1s;
}
.atrC {
    margin-bottom: 170px;
}
@media screen and (max-width: 800px){
    .atr.grid12.ma.wi90 {
        display: flex;
        flex-direction: column;
    }
    .points.grid12 {
        display: flex;
        flex-direction: column;
    }
    .point{
        margin: auto;
    }
}
@media screen and (max-width: 450px) {
    .pointimg{
        height: 350px;
    }
}