.ecotitle.sectiontitle.purple.tk-bely-display {
    grid-row: 1;
    grid-column: 1/span 6;
}
.ecoimgit {
    grid-column: 1/span 8;
    aspect-ratio: 640/640;
    background-position: center;
    background-size: cover;
    grid-row: 1;
}
.ecotxtit {
    grid-column: 8/span 4;
    grid-row: 1;
    width: 80%;
    margin-left: auto;
}
.ecotxtti {
    grid-column: 2/span 4;
    grid-row: 1;
}
.ecoimgti {
    grid-column: 5/span 8;
    background-position: center;
    background-size: cover;
    grid-row: 1;
}
.it.grid12 {
    grid-row: 2;
    grid-column: span 12;
    margin-top: -120px;
}
.ti.grid12 {
    grid-row: 3;
    grid-column: span 12;
}
.ecotxttititle.sectionsubtitle.green.tk-objektiv-mk1 {
    width: 90%;
}
.ecotxttitext.purple.tk-objektiv-mk1 {
    width: 90%;
}
section.ecologieC {
    margin-bottom: 190px;
}
.ecotxtittitle.sectionsubtitle.green.tk-objektiv-mk1 {
    margin-bottom: 50px;
}
.ecotxttititle.sectionsubtitle.green.tk-objektiv-mk1 {
    margin-bottom: 50px;
}
@media screen and (max-width: 800px){
    .ecologie.grid12.ma.wi90 {
        display: flex;
        flex-direction: column;
    }
    .it.grid12{
        margin-top: 0;
    }
}
@media screen and (max-width: 450px){
    .it.grid12{
        display: flex;
        flex-direction: column;
    }
    .ecotxtit{
        margin-left: unset;
    }
    .ti.grid12 {
        display: flex;
        flex-direction: column-reverse;
    }
    .ecoimgti {
        aspect-ratio: 640/640;
    }
}