.firstname, .lastname{
    font-size: 36px;
    line-height: 43px;
}
.poste, .facedesc{
    font-size: 21px;
}
.facestitle.sectiontitle.purple.tk-bely-display {
    grid-column: 1/span 2;
}
.face.face2 {
    grid-row: 2;
    grid-column: 1/span 5;
    margin-top: 80px;
}
.face.face1 {
    grid-column: 4/span 5;
}
.face.face3 {
    grid-row: 2;
    grid-column: 8/span 5;
}
.face.face4 {
    grid-row: 3;
    grid-column: 4/Span 5;
}
.face.face5 {
    grid-row: 4;
    grid-column: 8/span 5;
}
.face.face6 {
    grid-row: 5;
    grid-column: 1/span 5;
}
.face.face7 {
    grid-row: 6;
    grid-column: 4/Span 5;
}
.face.face8 {
    grid-row: 7;
    grid-column: 8/span 5;
}
.pdp {
    aspect-ratio: 235/314;
    height: 314px;
    width: 235px;
    background-position: center;
    background-size: cover;
    margin-right: 20px;
}
.facedesc.tk-objektiv-mk1 {
    height: 40px;
    width: 40px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.poste.tk-objektiv-mk1 {
    margin: 20px 0;
}
.face {
    display: flex;
}
.facesC {
    margin-bottom: 200px;
}
@media screen and (max-width: 1300px) {
    .firstname, .lastname {
        font-size: 29px;
        line-height: 34px;
    }
    .poste, .facedesc {
        font-size: 18px;
    }
}
@media screen and (max-width: 1040px) {
    .face.face3,.face.face5,.face.face8{
        grid-column: 7/span 5;
    }
}
@media screen and (max-width: 800px){
    .faces.grid12.ma.wi90 {
        display: flex;
        flex-direction: column;
    }
    .face.face1 {
        width: fit-content;
    }
    .face.face2 {
        width: fit-content;
        margin: 0;
    }
}
@media screen and (max-width: 450px){
    .pdp {
        width: 190px;
    }
    .poste, .facedesc {
        font-size: 14px;
    }
    .firstname, .lastname {
        font-size: 20px;
        line-height: 25px;
    }
}