.mobiletitle.sectiontitle.purple.tk-bely-display {
    grid-column: 1/Span 8;
}
.mobileimg {
    grid-row: 2;
    aspect-ratio: 731/826;
    grid-column: 2/span 10;
    background-size: contain;
    background-repeat: no-repeat;
}
@media screen and (max-width: 450px){
    .mobile.grid12.wi90.ma {
        display: flex;
        flex-direction: column;
    }
    .mobileimg{
        height: 337px;
    }
}