@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  
  .animatenumber {
    animation: counter 5s infinite alternate ease-in-out;
    counter-reset: num var(--num);
    font: 800 40px system-ui;
    padding: 2rem;
  }
  .animatenumber::after {
    content: counter(num);
  }
  
  @keyframes counter {
    from {
      --num: 0;
    }
    to {
      --num: 15289191;
    }
  }
  
.sectiontitle.tk-bely-display.purple.stattitle {
    grid-column: 1/span 5;
    grid-row: 1;
}
.graph {
    grid-row: 1;
    grid-column: 2/span 6;
    position: relative;
}
.p1 {
    position: absolute;
    top: 470px;
    font-size: 19px;
    right: -65px;
    font-weight: bold;
}
.p2.green.tk-objektiv-mk1 {
    position: absolute;
    top: 470px;
    font-size: 19px;
    font-weight: bold;
    right: 105px;
}
.p3.green.tk-objektiv-mk1 {
    position: absolute;
    top: 470px;
    font-size: 19px;
    font-weight: bold;
    left: 80px;
}
.textquarter {
    grid-column: 9/span 3;
    line-height: 32px;
}
.txtbely {
    font-size: 21px;
}
.graph svg#Calque_1 {
    aspect-ratio: 467/430;
    width: 630px;
}
.target{
    grid-row: 2;
    grid-column: span 12;
    margin-top: 100px;
    min-height: 480px;
}
.collec{
    grid-column: 1/span 5;
}
.pie {
    position: relative;
    grid-column: 6/span 6;
}
svg#Calque_1\ sec,svg#Calque_1\ third, svg#Calque_1\ fourth{
    opacity: 0;
}
svg#Calque_1\ first path.st6 {
    fill: #FFFFFF;
}
svg#Calque_1\ first, svg#Calque_1\ sec,svg#Calque_1\ third, svg#Calque_1\ fourth {
    position: absolute;
    transform: scale(1.9);
}
svg#Calque_1\ fiveth {
    position: absolute;
    transform: scale(1.9);
    margin-right: -110px;
    margin-left: 110px;
    opacity: 0;
}
svg#Calque_1\ sixth {
    position: absolute;
    transform: scale(1.9);
    top: 57px;
    margin-left: 40px;
    margin-right: -30px;
    opacity: 0;
}
.collec svg#Calque_1 {
    transform: scale(1.23);
    margin-top: -50px;
}
.quote {
    grid-row: 2;
    grid-column: span 12;
    font-size: 9px;
    margin-top: -30px;
}
.stat.grid12.ma.wi90 {
    overflow: hidden;
}
.st0 {
    fill: #8F4FEB !important;
}
.st1 {
    fill: #44E559 !important;
}
.boomtxt {
    grid-column: 8/span 4;
}
.boom.grid12.ma.wi90 {
    margin-top: 100px;
    margin-bottom: 130px;
}
.boomtitle.sectionsubtitle.green.tk-objektiv-mk1 {
    width: 80%;
    line-height: 36px;
    margin-bottom: 30px;
}
.boomdesc.purple.tk-objektiv-mk1 {
    line-height: 32px;
}
.boomgallery {
    grid-column: 2/span 6;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 3em;
    grid-row-gap: 3em;
}
.img.img1 {
    grid-column: 1/span 4;
    grid-row: 1;
    z-index: 10;
}
.img.img2 {
    grid-row: 1;
    grid-column: 2/span 4;
    z-index: 5;
    margin-top: 52px;
}
.img.img3 {
    grid-row: 1;
    grid-column: 3/span 4;
    z-index: 1;
    margin-top: 104px;
}
.boomgallery .img {
    aspect-ratio: 303/400;
    background-position: center;
    background-size: cover;
    height: calc((400/303) * 50%);
}
.boomsource.purple.tk-objektiv-mk1 {
    grid-row: 2;
    grid-column: span 6;
    font-size: 9px;
    line-height: 20px;
    margin-top: -135px;
}

g.animatenumber{
    animation: counter 5s alternate ease-in-out;
}
g.animatenumber::after {
    content: counter(num);
  }
  @keyframes counter {
    from {
      --num: 0;
    }
    to {
      --num: 15289191;
    }
  }
@media screen and (max-width: 800px){
    .stat.grid12.ma.wi90 {
        display: flex;
        flex-direction: column;
    }
    .boom.grid12.ma.wi90 {
        display: flex;
        flex-direction: column-reverse;
    }
}
@media screen and (max-width: 450px){
    .graph svg#Calque_1{
        width: 100%;
    }
    .target.grid12.nogrg {
        display: flex;
        flex-direction: column;
    }
    .quote.purple {
        margin-top: 10px;
    }
}