.trusttitle.sectiontitle.purple.tk-bely-display {
    grid-column: 1/span 5;
    width: 90%;
}
.trustpayment {
    grid-column: 6/span 6;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.trustC{
    margin-bottom: 300px;
}