.trusttitle.sectiontitle.purple.tk-bely-display {
    grid-column: 1/span 5;
    width: 90%;
}
.trustpayment {
    grid-column: 6/span 6;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.trustC{
    margin-bottom: 300px;
}
@media screen and (max-width: 800px){
    .trust.grid12.wi90.ma {
        display: flex;
        flex-direction: column;
    }
    .trustpayment{
        height: 400px;
    }
    .trustC{
        margin-bottom: 150px;
    }
}
@media screen and (max-width: 450px){
    .trustpayment{
        height: 200px;
    }
    .trustC{
        margin-bottom: 100px;
    }
}